<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.ActivityMapper">
    <resultMap id="activity" type="com.zyx.model.Activity">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="img_urls" jdbcType="VARCHAR" property="imgUrls"/>
        <result column="desc_content" jdbcType="LONGVARCHAR" property="descContent"/>
        <result column="activity_type" jdbcType="INTEGER" property="activityType"/>
        <result column="activity_module" jdbcType="INTEGER" property="activityModule"/>
        <result column="start_time" jdbcType="BIGINT" property="startTime"/>
        <result column="end_time" jdbcType="BIGINT" property="endTime"/>
        <result column="last_time" jdbcType="BIGINT" property="lastTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="max_people" jdbcType="INTEGER" property="maxPeople"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="target_url" jdbcType="VARCHAR" property="targetUrl"/>
        <result column="payment_type" jdbcType="INTEGER" property="paymentType"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="mask" jdbcType="INTEGER" property="mask"/>
        <result column="latitude" jdbcType="DOUBLE" property="latitude"/>
        <result column="longitude" jdbcType="DOUBLE" property="longitude"/>
    </resultMap>
    <resultMap id="activitydto" type="com.zyx.dto.ActivityDto" extends="activity">
        <association property="userName" column="user_id"
                     select="com.zyx.mapper.AppUserMapper.selectAppUserGetName"></association>
        <association property="isDeva" column="id" select="queryIsDeva"></association>
        <association property="viewNum" column="id" select="queryViewNum"></association>
        <association property="zanNum" column="id" select="queryZanNum"></association>
        <association property="joinNum" column="id" select="queryJoinNum"></association>
    </resultMap>


    <select id="queryActivity" parameterType="com.zyx.parm.activity.QueryActivityParm" resultMap="activitydto">
        select * from activity where 1=1
        <if test="title != null and title != ''">
            and title LIKE CONCAT('%',${title},'%' )
        </if>
        <if test="type != null">
            and type =#{type}
        </if>
        <if test="activityType != null">
            and activity_type =#{activityType}
        </if>
        <if test="paymentType != null">
            and payment_type=#{paymentType}
        </if>
        <if test="status != null">
            <if test="status==1">
                and #{currentTime} &gt; end_time
            </if>
            <if test="status==0">
                and  #{currentTime} &gt;= create_time
                and  #{currentTime} &lt;= start_time
            </if>
        </if>
        AND del = 0
        <if test="activityModule!=null">
            and activity_module=#{activityModule}
        </if>
        ORDER BY create_time desc
        <if test="pageNumber != null and pageSize != null">
            limit #{pageNumber}, #{pageSize}
        </if>
    </select>

    <select id="queryIsDeva" parameterType="java.lang.Integer" resultType="boolean">
        SELECT NOT ISNULL(id) as isDeva FROM devaluation WHERE model = 2 AND model_id = #{id} and del=0
    </select>

    <select id="queryJoinNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(id) from activity_member WHERE activity_id=#{id}
    </select>

    <select id="queryZanNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(id) from zan where body_type=3 and body_id = #{id}
    </select>

    <select id="queryViewNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(id) from comment where comment_type=3 and comment_id=#{id}
    </select>


    <select id="selectCountActivity" resultType="java.lang.Integer" parameterType="com.zyx.parm.activity.QueryActivityParm">
        SELECT COUNT(id) FROM activity WHERE  del = 0
        <if test="title != null and title != ''">
            and title LIKE CONCAT('%',${title},'%' )
        </if>
        <if test="type != null">
            and type =#{type}
        </if>
        <if test="activityType != null">
            and activity_type =#{activityType}
        </if>
        <if test="paymentType != null">
            and payment_type=#{paymentType}
        </if>

        <if test="activityModule != null">
            and activity_module=#{activityModule}
        </if>
        <if test="status != null">
            <if test="status==1">
                and #{currentTime} &gt; end_time
            </if>
            <if test="status==0">
                and  #{currentTime} &gt;= create_time
                and  #{currentTime} &lt;= start_time
            </if>
        </if>
    </select>

    <select id="queryActivityIn" parameterType="java.util.List" resultType="com.zyx.model.Activity">
        select * from activity where ID IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND del != 1
    </select>

    <update id="updateActivity" parameterType="com.zyx.model.Activity">
        UPDATE activity
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="imgUrls != null and imgUrls != ''">
                img_urls = #{imgUrls},
            </if>
            <if test="activityType != null">
                activity_type = #{activityType},
            </if>
            <if test="activityModule != null">
                activity_module = #{activityModule},
            </if>
            <if test="descContent != null and descContent != ''">
                desc_content = #{descContent},
            </if>
            <if test="startTime != null and startTime != 0">
                start_time = #{startTime},
            </if>
            <if test="endTime != null and endTime != 0">
                end_time = #{endTime},
            </if>
            <if test="lastTime != null and lastTime != 0">
                last_time = #{lastTime},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="city != null and city != 0">
                city = #{city},
            </if>
            <if test="maxPeople != null and maxPeople != 0">
                max_people = #{maxPeople},
            </if>

            <if test="price != null">
                price = #{price},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="targetUrl != null and targetUrl != ''">
                target_url = #{targetUrl},
            </if>

            <if test="paymentType != null">
                payment_type = #{paymentType},
            </if>
            <if test="del != null">
                del = #{del},
            </if>
            <if test="latitude != null">
                latitude = #{latitude},
            </if>
            <if test="longitude != null">
                longitude = #{longitude},
            </if>
            <if test="mask != null">
                mask = #{mask}
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <update id="delActivity" parameterType="java.lang.Integer">
        UPDATE activity set del=1 where id=#{id}
    </update>
</mapper>