<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyx.mapper.AppUserMapper">

    <resultMap id="BaseResultMap" type="com.zyx.model.AppUser">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="birthday" jdbcType="BIGINT" property="birthday"/>
        <result column="lastLoginTime" jdbcType="BIGINT" property="lastlogintime"/>
        <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="authenticate" jdbcType="INTEGER" property="authenticate"/>
        <result column="mask" jdbcType="BIT" property="mask"/>
        <result column="del" jdbcType="BIT" property="del"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="level_id" jdbcType="INTEGER" property="levelId"/>
        <result column="money" jdbcType="INTEGER" property="money"/>
        <association property="level" column="level_id" select="levelSelect"/>
        <association property="concernCount" column="id" select="countSelect"/>

    </resultMap>

    <resultMap id="AppUserListDto" type="com.zyx.dto.AppUserListDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="birthday" jdbcType="BIGINT" property="birthday"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="authenticate" jdbcType="INTEGER" property="authenticate"/>
        <result column="mask" jdbcType="BIT" property="mask"/>
        <result column="del" jdbcType="BIT" property="del"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="deva" jdbcType="TINYINT" property="deva"/>
        <!--<association property="appUserAuthDto" column="id" select="selectAuthByAppUser"></association>-->
    </resultMap>

    <resultMap id="OfficialUserListDto" type="com.zyx.dto.OfficialUserListDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
    </resultMap>

    <resultMap id="rankDto" type="com.zyx.dto.RankDto">
        <result column="row_num" jdbcType="INTEGER" property="number"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="total_score" jdbcType="INTEGER" property="totalScore"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="name" jdbcType="VARCHAR" property="levelName"/>
    </resultMap>

    <!--<select id="selectUserBySysUser" parameterType="java.lang.String" resultMap="OfficialUserListDto">-->
        <!--SELECT id,nickname FROM user where id IN <![CDATA[(#{OFFICIAL_ID})]]>-->
    <!--</select>-->

    <select id="levelSelect" parameterType="int" resultType="java.lang.String">
        SELECT name FROM level  WHERE id=#{level_id}
    </select>

    <select id="countSelect" parameterType="int" resultType="int">
        SELECT count(id) FROM concern  WHERE user_id=#{id}
    </select>

    <update id="delByPrimaryKey" parameterType="Integer">
        update user set del = 1 where id = #{id}
    </update>

    <!--<update id="unDelByPrimaryKey" parameterType="Integer">-->
        <!--update user set del = 0 where id = #{id}-->
    <!--</update>-->

    <update id="maskByPrimaryKey" parameterType="Integer">
        update user set mask = 1 where id = #{id}
    </update>

    <update id="unMaskByPrimaryKey" parameterType="Integer">
        update user set mask = 0 where id = #{id}
    </update>

    <!--<update id="authAppUserByPrimaryKey" parameterType="Integer">-->
        <!--update user set authenticate = #{1} where id = #{0}-->
    <!--</update>-->

    <!--<insert id="insertAuthInfo" parameterType="com.zyx.parm.appUser.AppUserCreateParam">-->
        <!--INSERT INTO user_auth (user_id,authname,authidcard,authmob,authfile,authinfo,authfilework,modify_time) VALUES (#{appUserId},#{authName},#{authIDCard},#{authMob},#{authFile},#{authInfo},#{authFileWork},#{modifyTime})-->
    <!--</insert>-->

    <!--<select id="selectAuthCount" parameterType="int" resultType="int">-->
        <!--SELECT count(id) FROM user_auth WHERE user_id = #{user_id}-->
    <!--</select>-->

    <select id="queryAppUserByName" parameterType="java.util.List" resultType="java.lang.String">
        SELECT nickname FROM user WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <update id="updateAppUserByPrimaryKey" parameterType="com.zyx.parm.appUser.AppUserCreateParam">
        update user set modify_time = #{modifyTime}
        <if test="phone != null and phone != ''">
            ,phone = #{phone}
        </if>
        <if test="address != null and address != ''">
            ,address = #{address}
        </if>
        <if test="sex != null">
            ,sex = #{sex}
        </if>
        <if test="password != null and password != ''">
            ,password = #{password}
        </if>
        <if test="nickname != null and nickname != ''">
            ,nickname = #{nickname}
        </if>
        <if test="avatar != null and avatar != ''">
            ,avatar = #{avatar}
        </if>
        <if test="birthday != null and birthday != 0">
            ,birthday = #{birthday}
        </if>
        <if test="signature != null and signature != ''">
            ,signature = #{signature}
        </if>
        <if test="official != null">
            ,official = #{official}
        </if>
        where id = #{appUserId}
    </update>

    <!--<update id="updateAuthInfo" parameterType="com.zyx.parm.appUser.AppUserCreateParam">-->
        <!--UPDATE user_auth SET modify_time = #{modifyTime}-->
        <!--<if test="authName != null and authName != ''">-->
            <!--, authname = #{authName}-->
        <!--</if>-->
        <!--<if test="authIDCard != null and authIDCard != ''">-->
            <!--, authidcard = #{authIDCard}-->
        <!--</if>-->
        <!--<if test="authMob != null and authMob != ''">-->
            <!--, authmob = #{authMob}-->
        <!--</if>-->
        <!--<if test="authFileWork != null and authFileWork != ''">-->
            <!--, authfilework = #{authFileWork}-->
        <!--</if>-->
        <!--<if test="authInfo != null and authInfo != ''">-->
            <!--, authinfo = #{authInfo}-->
        <!--</if>-->
        <!--<if test="authFile != null and authFile != ''">-->
            <!--, authfile = #{authFile}-->
        <!--</if>-->
        <!--<if test="modifyTime != null">-->
            <!--, modify_time = #{modifyTime}-->
        <!--</if>-->
        <!--WHERE user_id = #{appUserId}-->
    <!--</update>-->

    <!--<select id="selectAuthByAppUser" parameterType="int" resultType="com.zyx.dto.AppUserAuthDto">-->
        <!--SELECT * FROM user_auth where user_id = #{appUserId}-->
    <!--</select>-->

    <select id="selectAppUserGetName" parameterType="int" resultType="java.lang.String">
        SELECT nickname FROM user where id = #{userId} and del != 1
    </select>

    <select id="queryAppUserList" parameterType="com.zyx.parm.QueryAppUserParam" resultMap="BaseResultMap">
        SELECT * FROM user where 1=1
        <if test="searchText != null and searchText != ''">
            and (nickname LIKE CONCAT('%','${searchText}','%' ) or phone LIKE
            CONCAT('%','${searchText}','%' ))
        </if>
        <if test="authenticate != null and authenticate != ''">
            and authenticate = #{authenticate}
        </if>
        <if test="official != null">
            and official = #{official}
        </if>
            and del != 1
        <if test="sortName != null and sortName != ''">
            ORDER BY #{sortName} #{sortOrder}
        </if>
        <if test="pageNumber != null and pageSize != null">
            limit #{pageNumber}, #{pageSize}
        </if>
    </select>

    <select id="selectAppUserListCount" parameterType="com.zyx.parm.QueryAppUserParam" resultType="int">
        SELECT count(*) FROM user where 1=1
        <if test="searchText != null and searchText != ''">
            and (nickname LIKE CONCAT('%','${searchText}','%' ) or phone LIKE
            CONCAT('%','${searchText}','%' ))
        </if>
        <if test="authenticate != null and authenticate != ''">
            and authenticate = #{authenticate}
        </if>
        <if test="official != null">
            and official = #{official}
        </if>
            and del != 1
    </select>

    <select id="queryOfficialAccountList" resultMap="OfficialUserListDto">
        SELECT * FROM user where (nickname LIKE CONCAT('%','${searchText}','%' ) or phone LIKE
        CONCAT('%','${searchText}','%' ))
        <if test="authenticate != null and authenticate != ''">
            and authenticate = #{authenticate}
        </if>
        and official = 1
        and del != 1
        <if test="sortName != null and sortName != ''">
            ORDER BY #{sortName} #{sortOrder}
        </if>
        <if test="pageNumber != null and pageSize != null">
            limit #{pageNumber}, #{pageSize}
        </if>
    </select>

    <update id="resetAppUser" parameterType="com.zyx.parm.appUser.AppUserCreateParam">
        UPDATE `user` SET modify_time = #{modifyTime}, password = #{password} WHERE phone = #{phone}
    </update>


    <select id="getOwnRank" parameterType="java.lang.Integer" resultMap="rankDto">
        SELECT nn.id AS user_id,nn.avatar,nn.nickname,nn.row_num,nn.total_score,l.name FROM
        (SELECT u.id,u.level_id,u.avatar,u.nickname,mm.* FROM user u LEFT JOIN(
		SELECT @row := @row + 1 AS row_num,sr.user_id,SUM(si.score) AS total_score
		FROM
		t_sport_record sr LEFT JOIN t_sport_info si ON sr.sport_info_id=si.id
		,(SELECT @row := 0) r
		where sr.type=#{param2}
		GROUP BY sr.user_id
        ) AS mm ON u.id=mm.user_id )AS nn LEFT JOIN level l ON nn.level_id = l.id

        WHERE nn.id=#{param1}
    </select>

    <select id="getTopRank" parameterType="java.lang.Integer" resultMap="rankDto">
        SELECT @row := @row + 1 AS row_num,sr.user_id,SUM(si.score) AS total_score ,u.nickname,u.avatar,l.name
        FROM
        t_sport_record sr LEFT JOIN t_sport_info si ON sr.sport_info_id=si.id LEFT JOIN user u ON sr.user_id = u.id LEFT JOIN level l ON u.level_id =l.id
        ,(SELECT @row := 0) r
        where sr.type=#{appType}
        GROUP BY sr.user_id
        ORDER BY total_score DESC
        LIMIT 0,5
    </select>

</mapper>