<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.EquipMapper">
    <resultMap id="equipMap" type="com.zyx.model.Equip">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="account_id" jdbcType="INTEGER" property="accountId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="label_id" jdbcType="VARCHAR" property="labelId"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="mask" jdbcType="INTEGER" property="mask"/>
        <result column="del" jdbcType="INTEGER" property="del"/>
        <result column="equip_type" jdbcType="INTEGER" property="equipType"/>
        <result column="app_type" jdbcType="INTEGER" property="appType"/>

    </resultMap>

    <resultMap id="equipShareDto" type="com.zyx.dto.EquipShareDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="equip_type" jdbcType="INTEGER" property="equipType"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
    </resultMap>

    <resultMap id="equipDtoMap" type="com.zyx.dto.EquipDto" extends="equipMap">

        <association property="zanCount" column="id" select="zanCountsSelect"/>
        <association property="commentCount" column="id" select="commentCountsSelect"/>
        <association property="equipLabelName" column="label_id" select="equipLabelSelect"/>
        <association property="account" column="account_id" select="userSelect"/>
        <association property="commentList" column="id" select="commentSelect"/>
    </resultMap>

    <select id="zanCountsSelect" parameterType="int" resultType="int">
        SELECT COUNT(id) FROM zan WHERE zan.body_type = 2 AND body_id = #{id}
    </select>

    <select id="commentCountsSelect" parameterType="int" resultType="int">
        SELECT COUNT(id) FROM comment WHERE comment_type = 2  AND comment_id = #{id}
    </select>

    <select id="userSelect" parameterType="int" resultType="com.zyx.model.vo.UserVo">
        SELECT id,nickname,official,authenticate FROM `user` WHERE id=#{user_id}
    </select>


    <select id="commentSelect" parameterType="int" resultMap="com.zyx.mapper.CommentMapper.BaseResultMap">
        SELECT * FROM comment where comment_type = 2  AND comment_id = #{id}
    </select>

    <select id="equipLabelSelect" parameterType="int" resultType="java.lang.String">
        SELECT label_name FROM t_equip_label WHERE id=#{label_id}
    </select>

    <insert id="insertEquip" parameterType="com.zyx.model.Equip" useGeneratedKeys="true">
        INSERT INTO equip(title,content,create_time,account_id,label_id,del,mask,equip_type,app_type)
        VALUES (#{title},#{content},#{createTime},#{accountId},#{labelId},#{del},#{mask},(SELECT user.official FROM user
        WHERE user.id=#{accountId}),#{appType})
    </insert>

    <select id="queryEquip" parameterType="com.zyx.parm.Equip.QueryEquipParam" resultMap="equipDtoMap">
        select e.* from equip e LEFT JOIN t_equip_label el ON e.label_id=el.id WHERE  e.equip_type=#{equipType}
        <if test="appType != null">
            and e.app_type=#{appType}
        </if>
        <if test="title !=null and title !=''">
            AND e.title like '%${title}%'
        </if>
        <if test="labelId != null and labelId != ''">
            and e.label_id=#{labelId}
        </if>
        AND e.del = 0 AND el.state=0
        ORDER BY e.create_time desc
        <if test="pageNumber != null and pageSize != null">
            limit #{pageNumber}, #{pageSize}
        </if>
    </select>


    <update id="updateEquip" parameterType="com.zyx.model.Equip">
        UPDATE equip
        <set>
            <if test="accountId != null and accountId != ''">
                account_id = #{accountId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="labelId != null and labelId != ''">
                label_id = #{labelId},
            </if>
            <if test="createTime != null and createTime != 0">
                create_time = #{createTime},
            </if>
            <if test="del != null">
                del = #{del},
            </if>
            <if test="mask != null">
                mask = #{mask}
            </if>
        </set>
        WHERE id=#{id}
    </update>


    <select id="queryIsDeva" parameterType="java.lang.Integer" resultType="boolean">
        SELECT NOT ISNULL(id) as isDeva FROM devaluation WHERE model = 8 AND model_id = #{id}
    </select>

    <select id="selectCountEquip" resultType="java.lang.Integer" parameterType="com.zyx.parm.Equip.QueryEquipParam">
        SELECT COUNT(e.id) from equip e LEFT JOIN t_equip_label el ON e.label_id=el.id WHERE  e.equip_type=#{equipType}
        <if test="appType != null">
            and e.app_type=#{appType}
        </if>
        <if test="title !=null and title !=''">
            AND e.title like '%${title}%'
        </if>
        <if test="labelId != null and labelId != ''">
            and e.label_id=#{labelId}
        </if>
        AND e.del = 0 AND el.state=0
    </select>

    <select id="selectById" resultMap="equipShareDto" parameterType="java.lang.Integer">
        SELECT e.id,e.title,e.content,e.create_time,e.equip_type,u.nickname,u.avatar
        from equip e left join user u on e.account_id =u.id
        where e.id=#{id}
    </select>
</mapper>