<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.SportInfoMapper">
    <resultMap id="sportInfodto" type="com.zyx.dto.SportInfoDto">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="venue_id" jdbcType="INTEGER" property="venueId"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="path_type" jdbcType="VARCHAR" property="pathType"/>
        <result column="developer" jdbcType="VARCHAR" property="developer"/>
        <result column="develop_time" jdbcType="BIGINT" property="developTime"/>
        <result column="path_length" jdbcType="INTEGER" property="pathLength"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="visit_num" jdbcType="INTEGER" property="visitNum"/>
        <result column="comment_num" jdbcType="INTEGER" property="commentNum"/>
    </resultMap>

    <resultMap id="sportRecordDto" type="com.zyx.dto.SportRecordDto">
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="spend_time" jdbcType="INTEGER" property="spendTime"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
        <result column="name" jdbcType="VARCHAR" property="venueName"/>
        <result column="img_urls" jdbcType="VARCHAR" property="imgUrls"/>
    </resultMap>

    <select id="querySportInfo" parameterType="com.zyx.parm.sportinfo.SportInfoQueryParam" resultMap="sportInfodto">
        select id,venue_id,path,url,level,score,path_type,developer,develop_time,path_length,location from t_sport_info where del=0
        <if test="venueId != null and venueId != ''">
            and venue_id =#{venueId}
        </if>
        ORDER BY create_time desc
        <if test="pageNumber != null and pageSize != null">
            limit #{pageNumber}, #{pageSize}
        </if>
    </select>

    <select id="selectCountSportInfo" resultType="java.lang.Integer" parameterType="com.zyx.parm.sportinfo.SportInfoQueryParam">
        SELECT COUNT(id) FROM t_sport_info WHERE del=0
        <if test="venueId != null and venueId != ''">
            and venue_id =#{venueId}
        </if>
    </select>


    <update id="delSportInfo" parameterType="java.lang.Integer">
        UPDATE t_sport_info SET del=1 WHERE  id=#{id}
    </update>


    <update id="updateSportInfo" parameterType="com.zyx.model.SportInfo">
        UPDATE t_sport_info
        <set>
            <if test="path != null and path != ''">
                path = #{path},
            </if>
            <if test="venueId != null and venueId != ''">
                venue_id = #{venueId},
            </if>

            <if test="level != null and level != ''">
                level = #{level},
            </if>
            <if test="score != null and score != ''">
                score = #{score},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="pathType != null and pathType != ''">
                path_type = #{pathType},
            </if>
            <if test="developer != null and developer != ''">
                developer = #{developer},
            </if>
            <if test="developTime != null and developTime != ''">
                develop_time = #{developTime},
            </if>
            <if test="pathLength != null and pathLength != ''">
                path_length = #{pathLength},
            </if>
            <if test="location != null and location != ''">
                location = #{location},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="querySportRecordByUserId" resultMap="sportRecordDto" parameterType="java.lang.Integer">
        SELECT sr.create_time,sr.spend_time,tsi.level,v.name,v.img_urls from t_sport_record sr left JOIN
        t_venue v on sr.venue_id=v.id LEFT join t_sport_info tsi on sr.sport_info_id=tsi.id
        where sr.user_id = #{id}
        order BY sr.create_time desc
        limit 0,10
    </select>
</mapper>