<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.VersionMapper">
    <resultMap id="version" type="com.zyx.model.Version">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="publish_time" jdbcType="BIGINT" property="publishTime"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="download_url" jdbcType="VARCHAR" property="downloadUrl"/>
        <result column="notes" jdbcType="VARCHAR" property="notes"/>
        <result column="platform" jdbcType="INTEGER" property="platform"/>
        <result column="del" jdbcType="INTEGER" property="del"/>
        <result column="app_type" jdbcType="INTEGER" property="appType"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
    </resultMap>


    <select id="queryVersion" parameterType="com.zyx.parm.version.VersionParam" resultMap="version">
        select * from t_version where del=0
        <if test="platform!=null">
            and platform=#{platform}
        </if>
        <if test="appType!=null">
            and app_type=#{appType}
        </if>
        ORDER BY create_time desc
        <if test="pageNumber != null and pageSize != null">
            limit #{pageNumber}, #{pageSize}
        </if>
    </select>

    <select id="selectCountVersion" resultType="java.lang.Integer" parameterType="com.zyx.parm.version.VersionParam">
        SELECT COUNT(id) FROM t_version WHERE del=0 and app_type=#{appType}
    </select>

    <update id="delVersion" parameterType="java.lang.Integer">
        UPDATE t_version SET del=1 WHERE  id=#{id}
    </update>

    <update id="updateVersion" parameterType="com.zyx.model.Version">
        UPDATE t_version
          <set>
              <if test="version!=null">
                  version=#{version},
              </if>
              <if test="publishTime!=null">
                  publish_time=#{publishTime},
              </if>
              <if test="createTime!=null">
                  create_time=#{createTime},
              </if>
              <if test="downloadUrl!=null">
                  download_url=#{downloadUrl},
              </if>
              <if test="notes!=null">
                  notes=#{notes},
              </if>
              <if test="platform!=null">
                  platform=#{platform},
              </if>
          </set>
        where id=#{id}
    </update>

</mapper>